{%- set relative_path = "./" %}
{%- include "header.html" %}
{%- include "menu.html" %}
<div class="container help">
    <div class="row">
        <h1>sfvdiff</h1>
        <h4>How do I navigate through timeline?</h4>
        <p>
            You've got multiple way of selecting a specific frame.
        </p>
        <ul>
            <li>Click on the timeline panel the desired column</li>
            <li>Click on the position visualisation on top right</li>
            <li>Use the left/right key</li>
        </ul>
        <h4>What does ShiftX / ShiftY means? What is X / Y?</h4>
        <p>
            The SFV engine has two main ways of moving a character: 1) by using forces (gravity, impulse) 2) using position shifts.
            On the top right, you can see all shift categories. The main ones are:
        </p>
        <ul>
            <li>Shift: correspond to local shift described frame by frame</li>
            <li>HitboxShift: correspond</li>
            <li>Use the left/right key [NOT IMPLEMENTED YET]</li>
        </ul>
        <h4>How do I know which hurtbox has which property?</h4>
        <p>
            You can select each box by clicking on the timeline element. I know it's not ultra convenient but it works.
        </p>
        <h4>What does those icon means in the hit/hurtbox timeline?</h4>
        <p>
            Projectile: ★. Strike: 🤜. Throw: 🖐.
        </p>
        <h4>There are things I still don't understand.</h4>
        <p>
            The SFV engine is complex, not much I can do without going in full details. Please don't hesitate to <a href="https://twitter.com/WydD">ping me
            on twitter</a> or <a href="https://www.reddit.com/user/-WydD-">on reddit</a>.
        </p>
    </div>
</div>
{%- include "footer.html" %}