<nav class="navbar navbar-default navbar-static-top nav-pills" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="submenu-open"
                    data-target="#submenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ relative_path }}">sfvdiff</a>
        </div>
        <div class="collapse navbar-collapse" id="submenu">
            <ul class="nav navbar-nav" id="main-tab-menu">
                {%- if "char" in menu_data %}
                <li><a href="{{ relative_path[3:] if 'version' in menu_data else relative_path }}">Character: {{ menu_data["char_label"] }} <span class="glyphicon glyphicon-menu-right"></span></a></li>
                {%- endif %}
                {%- if "version" in menu_data %}
                <li><a href="{{ relative_path[6:] }}">Version: {{ menu_data["version_label"][0] }} [{{ menu_data["version_label"][1] }}] <span class="glyphicon glyphicon-menu-right"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Other versions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {%- for key, detail in menu_data["char_versions"].items()|sort %}
                        <li><a href="{{ relative_path[3:] }}{{ key }}/{{menu_data['path']}}">{{ detail[0] }} [{{ detail[1]|replace('-', ' ') }}]</a></li>
                        {%- endfor %}
                    </ul>
                </li>
                {%- endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="{{ relative_path }}help.html"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                <li><a target="_blank" href="{{ relative_path }}about.html"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                <li><a target="_blank" href="https://sfvsim.com/donate.html"><span class="glyphicon glyphicon-usd"></span> Donate</a></li>
                <li><a target="_blank" href="https://gitlab.com/loic.petit/sfvdiff/"><span class="glyphicon glyphicon-new-window"></span> Source code</a></li>
            </ul>
        </div>
    </div>
</nav>