{%- set relative_path = "../../../" %}
{%- include "header.html" %}
{%- include "menu.html" %}
<div class="move">
    <div class="container">
        <h1>{{ move["Name"] }}</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Properties</h3>
                {%- macro dd_dt_diff(data, key, label, prefix="", format_previous=True) %}
                {%- if key in data %}
                {%- set diff = property_diff[prefix+key]|default({}) %}
                <dt class="{{ diff[0] }}">{{ label }}</dt>
                <dd><span{% if diff[0] == "changed" %} data-toggle='tooltip' data-placement='top' title="was {{ caller(diff[1]['old_value']) if format_previous else diff[1]['old_value'] }}"{% endif %}>{{ caller(data[key]) }}</span></dd>
                {%- endif %}
                {%- endmacro %}
                <dl class="dl-horizontal">
                    {%- call(v) dd_dt_diff(move, "Script", "Script", format_previous=False) %}
                        <a href="../{{ script[0] }}">#{{ script[1]["Index"] }} - {{ script[1]["Name"] }}</a>
                    {%- endcall %}
                    {%- call(v) dd_dt_diff(move, "HeightRestriction", "Height Restriction") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "ProjectileLimit", "Projectile Limit") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "ProjectileGroup", "Projectile Group") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "Category", "Category") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "SubCategories", "SubCategories") %}{{ v|join(', ') }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "Stance", "Stance") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "VMeterRequires", "Requires V-Gauge") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "VMeterConsumes", "Consumes V-Gauge") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "EXRequires", "Requires EX") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "EXConsumes", "Consumes EX") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "VTriggerConsumes", "Consumes V-Trigger") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "VTriggerActivated", "V-Trigger Activated") %}Yes{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "VTriggerRequired", "V-Trigger Required") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(move, "BloodyGarden", "Blood Garden Only") %}{{ v }}{%- endcall %}
                </dl>
                <h4>Unknowns</h4>
                <dl class="dl-horizontal">
                    {%- for name, value in move["Unknown"].items()|sort %}
                    {%- call(v) dd_dt_diff(move["Unknown"], name, name, "Unknown.") %}{{ v }}{%- endcall %}
                    {%- endfor %}
                </dl>
            </div>
            <div class="col-md-6">
                <h3>Input</h3>
                {%- set input = move["InputMatch"] %}
                {%- set input_map = {"DOWN": "d", "FORWARD": "f", "BACK": "b", "UP": "u", "LP": "lp", "MP": "mp", "HP": "hp", "LK": "lk", "MK": "mk", "HK": "hk"} %}
                {%- macro input_display(input) %}
                    {%- if "DOWN" in input and "FORWARD" in input %}
                        <img src="../../../assets/df.png" alt="df" />{{input_display(input|removedirections)}}
                    {%- elif "DOWN" in input and "BACK" in input %}
                        <img src="../../../assets/db.png" alt="bf" />{{input_display(input|removedirections)}}
                    {%- elif "UP" in input and "FORWARD" in input %}
                        <img src="../../../assets/uf.png" alt="uf" />{{input_display(input|removedirections)}}
                    {%- elif "UP" in input and "BACK" in input %}
                        <img src="../../../assets/ub.png" alt="ub" />{{input_display(input|removedirections)}}
                    {%- else %}
                        {%- for i in input %}
                            <img src="../../../assets/{{ input_map[i] }}.png" alt="{{ input_map[i] }}" />
                        {%- endfor %}
                    {%- endif %}
                {%- endmacro %}

                <dl class="dl-horizontal">
                    {%- call(v) dd_dt_diff(input, "MotionIndex", "Motion", "Ignore.", format_previous=False) %}
                        {%- for el in motions[v] %}
                            {%- if el["Type"] == "Normal" or el["Type"] == "Impulse" %}
                        <div>
                            <span class="motion-type">{{el["Type"]}}</span>
                            <span class="motion-input">{{input_display(el["InputMatch"]["Input"])}}</span>
                            <span class="motion-buffer">Buffer: {{el["Buffer"]}}</span>
                            {%- if "Direction" in el["InputMatch"] and el["InputMatch"]["Direction"] != "None" %}<span class="motion-direction">Direction: {{el["InputMatch"]["Direction"]}}</span>{% endif %}
                            {%- if "Button" in el["InputMatch"] and el["InputMatch"]["Button"] != "None" %}<span class="motion-button">Button: {{el["InputMatch"]["Button"]}}</span>{% endif %}
                            {%- if "Edge" in el["InputMatch"] %}<span class="motion-edge">Edge: {{el["InputMatch"]["Edge"]|join(", ")}}</span>{% endif %}
                        </div>
                            {%- elif el["Type"] == "360" %}
                                <img src="../../../assets/360.png" alt="360" />
                            {%- elif el["Type"] == "720" %}
                                <img src="../../../assets/360.png" alt="360" />
                                <img src="../../../assets/360.png" alt="360" />
                            {%- elif el["Type"] == "Charge" %}
                                {%- set el = charges[el["ChargeIndex"]] %}
                            <span class="motion-type">Charge</span>
                            <span class="motion-input">{{input_display(el["InputMatch"]["Input"])}}</span>
                            <span class="motion-charge">Frames: {{el["Frames"]}}</span>
                            {%- if "Direction" in el["InputMatch"] and el["InputMatch"]["Direction"] != "None" %}<span class="motion-direction">Direction: {{el["InputMatch"]["Direction"]}}</span>{% endif %}
                            {%- if "Button" in el["InputMatch"] and el["InputMatch"]["Button"] != "None" %}<span class="motion-button">Button: {{el["InputMatch"]["Button"]}}</span>{% endif %}
                            {%- if "Edge" in el["InputMatch"] %}<span class="motion-edge">Edge: {{el["InputMatch"]["Edge"]|join(", ")}}</span>{% endif %}
                            {%- else %}
                                Unknown
                            {%- endif %}
                        {%- endfor %}
                    {%- endcall %}
                    {%- call(v) dd_dt_diff(input, "Input", "Input", "InputMatch.", format_previous=False) %}
                        {{ input_display(v) }}
                    {%- endcall %}
                    {%- call(v) dd_dt_diff(input, "Direction", "Direction Restriction", "InputMatch.") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(input, "Button", "Button Restriction", "InputMatch.") %}{{ v }}{%- endcall %}
                    {%- call(v) dd_dt_diff(input, "Edge", "Edge", "InputMatch.") %}{{ v|join(", ") }}{%- endcall %}
                    {%- call(v) dd_dt_diff(input, "Unknown", "Unknown", "InputMatch.") %}{{ v|join(", ") }}{%- endcall %}
                </dl>
            </div>
        </div>
    </div>
</div>
<script>
    $(".unknown").hide();
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
{%- include "footer.html" %}